<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: pink;}
    </style>
</head>
<body>
    <h1>COURSE</h1>
    <form action="new_course" method="post">
        {% csrf_token %}
        Course Code  <input type="text" name="code"><br><br>
        Description <input type="text" name="desc"><br><br>
        <input type="submit" value="SAVE">

    </form>
    <br><br>
    {{message}}
    <br>
    <a href="/KPMB/course/">Back</a>
    
</body>
</html>