<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO KPM BERANANG</h1> <br>
    <h2>SEARCH COURSE</h1>

    <form action="search_course" method="get">
        Enter Course <input type="text" name="c_code">
        <input type="submit" value="SEARCH">
    </form>
    <br><br>
    
    {% for value in data %}
        Code : {{value.code}} <br>
        Description : {{value.description}}
    {% endfor %}
    {{msg}}
    <br><br>
    <a href="/KPMB/">Back</a>
    

    
</body>
</html>