<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPMB Student</title>
    <style>
        table, tr,th,td{border: solid; 
            border-collapse: collapse;}
        a{color: blue;}
    </style>
</head>
<body>
    <h1>WELCOME TO KPM BERANANG</h1>
    <h2>STUDENT</h2>
    <br><br>
    {% if data == 1 %}
        <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>PHONE</th>
                <TH>COURSE</TH>
                <th>UPDATE?</th>
                <th>DELETE?</th>
            </tr>
            {% for data in all_student %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.course_code_id}}</td>
                    <td><a href="update_student/{{data.id}}">Update</a> </td>
                    <td><a href="delete_student/{{data.id}}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
    {% elif data == 0 %}
        <p>No Student register</p>
    {% endif %}
    <br><br>
    <a href="new_student">New Student</a><br><br>
    <a href="/KPMB">Home</a>
</body>
</html>