<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO KPM BERANANG</h1>
    <h2>UPDATE STUDENT</h2>
    <br><br>
    <form action="save_update_student/{{data.id}}" method="post">
        {% csrf_token %}
        Id  <input type="text" name="id" disabled="true" value={{data.id}}><br><br>
        Name <input type="text" name="name" value={{data.name}}> <br><br>
        Address <input type="text" name="address" value={{data.address}}><br><br>
        Phone <input type="text" name="phone" value={{data.phone}}><br><br>
        Course Code 
        <select name="c_course" value={{data.course_code_id}}>
            {% for value in all_course %}
                    {% if value.code == data.course_code_id %}
                        <option value="{{value.code}}" selected>{{value.code}}</option>
                    {% else %}
                        <option value="{{value.code}}">{{value.code}}</option>
                    {% endif %}
                {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="SAVE">
    </form>
    <br><br>
    <a href="/KPMB/student/">Back</a>
    
</body>
</html>