<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME TO KPM BERANANG</h1>
    <h2>UPDATE COURSE</h2>
    <form action="save_update_course/{{data.code}}" method="post">
        {% csrf_token %}
        Course Code <input type="text" name="code" value="{{data.code}}" disabled="false"> <br> <br>
        Course Description <input type="text" name="desc" value="{{data.description}}"><br><br>
        <input type="submit" value="SAVE">
    </form>
    <br><br>
    <a href="/KPMB/course/">Back</a>

</body>
</html>